body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('http://lightenergystudio.com/images/led_floor/led-dance-floor-main-2015.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid;
  border-radius:10px;
  position:absolute;
  color: red;
}
.picture-dancer{
  border: none;
  width: 75px;
  height: 200px;
  background-size: cover;
  background-image: url('http://alansands.com/images/ase_promo/download/hr/brown-outfit-1-hr.png');
}